{% extends "employee/dashemp.html" %}

{%load crispy_forms_tags %}
{% block content %}
<table class="table table-bordered table-striped">
    <h2>project-running</h2>
    <thead class="dark">
        <tr>
            <th>Slno</th>
            <th>Name</th>
            <th> subject</th>
            <th> department</th>
            <th>date</th>



        </tr>
    </thead>

    <tbody>
    {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>

            <td>{{i.complaint_details}}</td>
            <td>{{ i.subject }}</td>
            <td>{{ i.department }}</td>

             <td>{{ i.date }}</td>




<td>
            <a class="dropdown-item"
                   href="{% url 'reply_view' %}">
                    Reply
                </a>
</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="7" class="text-center">No  found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}